<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      WELLCOME TO MY QUIZ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class= "background" >
  <ion-card color="light">
            <h3 >INSTRUCTIONS</h3>
          <br>
            <p>&nbsp;&nbsp;1.This quiz consists of three categories<p>

            <p>&nbsp;&nbsp;2.There are five questions per category</p>

            <p>&nbsp;&nbsp;3.Take as much 60 seconds time as to complete the &nbsp;&nbsp;&nbsp;each category </p>

            <p>&nbsp;&nbsp;4.Please select five answers per category. </p>

            <p>&nbsp;&nbsp;5.Please choose one answer per question as there is &nbsp;&nbsp;only one correct.</p>

            <p>&nbsp;&nbsp;6.Please make sure you select on every questions &nbsp;&nbsp;before you click next because there is on going back &nbsp;&nbsp;without starting over </p>

            <p>&nbsp;&nbsp;7.Click begin when you are ready to start </p><br><br>

            <ion-button color="secondary" expand ="full" (click)="begin()">Begin</ion-button>
          </ion-card>

</ion-content>
